### Christian Roth und Andreas Waßmus:

# Major Assignment: Used Car Sales Analysis


### Kurs: Programming for Data Science
### Programmiersprache Python

Angewendete Pakte:

In [5]:
import pandas as pd
import numpy as np

### 1. Beschreibung Use Case

Der Gebrachtwagenmarkt in Deutschland hat einen Umsatz von 84,7 Mrd. EUR. (Quelle: destatis, abgerufen am 23.08.2019, https://de.statista.com/themen/1377/gebrauchtwagenhandel/)

![Bild%2023.08.19%20um%2017.33.jpg](attachment:Bild%2023.08.19%20um%2017.33.jpg)

Eine Anlyse dieses großen Marktes ist sehr interessant, da es ein in Deutschland viel diskutiertes Thema ist.

Wie ist der Markt geografisch aufgeteilt?
Wie entwickeln sich die Preise?
Wie unterscheiden sich die Preise?
Welche Fahrzeuge erzielen höhere Verkaufspreise?
- Diesel oder Benzin
- PC
- Fahrzeugtyp
- Marke
- Alter

### 2. Daten


Wir haben für die Auswertung einen Datensatz aus Kaggle verwendet. Diese Daten wurden im Jahr 2016 mit Scrapy von Ebay-Kleinanzeigen gecrawled. Es handelt sich um 371.528 Datensätze.

Datensatz: https://www.kaggle.com/orgesleka/used-cars-database




#### 1. Beschreibung der Daten:

##### Hauptdatensatz:

Folgende 19 Datenpunkte wurden gesammelt:

- dateCrawled: Datum, wann die Anzeige das erste mal gecrawlt wurde (alle Feldwerte stammen von diesem Datum)
- name: "Name" des Autos (Anzeigenname)
- seller: Gewerblicher oder privater Verkäufer
- offerType: Bei allen Datenpunkten handelt es sich um Angebote (diese Spalte ist für die Analyse nicht relevant)
- price : Der Angebotspreis der Anzeige (kein finaler Verkaufspreis) 
- abtest: Ausprägungen "test" und "control" (diese Spalte ist für die Analyse nicht relevant)
- vehicleType: Fahrzeugform, Kategorien von verschiedenen Fahrzeugtypen
- yearOfRegistration: Jahr der Erstzulassug
- gearbox: Getriebeart
- powerPS: Leistung in PS
- model: Modellname des Herstellers
- kilometer: Kilometerstand bei Verkauf
- monthOfRegistration: Monat der Erstzulassung
- fuelType: Kraftstoffart
- brand: Automarke
- notRepairedDamage: Nicht-reparierter Schaden am Auto (Variable lässt keine Aussage über die Höhe der unfallfreien Fahrzeuge zu
- dateCreated: Erstelldatum der Anzeige
- nrOfPictures: Fehlerhafter Spalte wird im Rahmen der Datenbereinigung aus Analyse entfertn
- postalCode: Postleitzahl
- lastSeenOnline: Wann wurde die Anzeige das letzte Mal vom crawler gesehen?

In [6]:
print(carData.shape)
print('----------')
print(carData.columns)

NameError: name 'carData' is not defined

3. #### 2. Einbindung zusätzlicher Daten

Der Hauptdatensatz wurde dahingehend überprüft, ob es Sinn macht, an bestimmten Stellen Daten anzureichern. Hierzu kommen zwei Spalten in Betracht:
- brand
- postalCode

Zu postalcode habe ich noch gefunden: https://www.suche-postleitzahl.org/downloads
hier gibt es noch die Möglichkeit die Einwohnerdichte hinzuzufügen. Dann könnte man die Preise nicht nur geographisch sondern auch nach ballungszentren analysieren.


Zu Brands habe ich kein pdf gefunden
hier ist ein Link mit Markenzugehörigkeit. Daraus kann man vielleicht eine csv machen.
http://thomas-messmer.com/index.php/16-free-knowledge/allerlei/weitere-informationen/44-autokonzerne-und-dessen-automarken

hier ppt einfügen analog

In [7]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
geolocator = Nominatim()

/Users/andreaswassmus/anaconda3/envs/condatascience-python3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  after removing the cwd from sys.path.

In [8]:
#Initialize relative path of csv-file
relpathCar="../MajorAssignment/used-cars-database/autos.csv"
relpathPLZ="../MajorAssignment/PLZ.csv"

#import csv-file into pandas df
carData=pd.read_csv(relpathCar,sep=",",encoding="latin-1", index_col=0)

#show head of carData df
carData.head(5)

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
dateCrawled,,,,,,,,,,,,,,,,,,,
2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [9]:
carData.shape

(371528, 19)

In [10]:
carData.columns

Index(['name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType',
       'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer',
       'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage',
       'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen'],
      dtype='object')

In [12]:
#Ausprägungen einer Spalte - wie kann ich mir nur diese anzeigen lassen?

carData["brand"].value_counts()

volkswagen        79640
bmw               40274
opel              40136
mercedes_benz     35309
audi              32873
ford              25573
renault           17969
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3982
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             591
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

Man könnte basierend auf den Verkaufspreisen den ursprünglichen Neuwagenpreis errechnen.
http://orgesleka.blogspot.com/2016/11/tabelle-zum-wertverlust-pro-jahr-bei.html

Das ist aber für das Assignment nicht zu aufwendig. Es sei denn wir binden nur die allgemeine Formel ein.